{% extends 'base.html' %}

{% block content %}
<div class="p-6 bg-gray-800 text-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Reservation Details</h2>

    <p><strong>User:</strong> {{ vehicle.name }}</p>
    <p><strong>Email:</strong> {{ reservation.user.email }}</p>
    <p><strong>Vehicle:</strong> {{ vehicle.vehicle_type}}</p>
    <p><strong>Start Date:</strong> {{ reservation.start_date }}</p>
    <p><strong>End Date:</strong> {{ reservation.end_date }}</p>
    <p><strong>Purpose:</strong> {{ reservation.purpose }}</p>
    <p><strong>Status:</strong> {{ reservation.status|title }}</p>

    <form method="post" class="mt-4">
        {% csrf_token %}
        <label class="block mb-2"><strong>Update Status:</strong></label>
        <select name="action" class="bg-gray-700 text-white p-2 rounded-lg mb-4">
            <option value="pending" {% if reservation.status == 'pending' %}selected{% endif %}>Pending</option>
            <option value="approved" {% if reservation.status == 'approved' %}selected{% endif %}>Approved</option>
        </select>
        
        <button type="submit" class="bg-blue-600 py-2 px-4 rounded-lg">Update Status</button>
    </form>
</div>
{% endblock %}
