{% extends 'base.html' %}
{% block content %}
<h2 class="text-2xl font-bold mb-4 text-white m-4">Your Bookings</h2>
<table class="table-auto w-full border-collapse border border-gray-300 m-4 p-4 ">
    <tr class="m-4 p-4 bg-gray-800 text-white text-center border-t border-gray-300">
        <th>Reservation ID</th>
        <th>Vehicle Type</th>
        <th>Customer</th>
        <th>Pickup Date</th>
        <th>Return Date</th>
        <th>Status</th>
        <th>Payment</th>
        <th>Actions</th>
    </tr>
    {% for reservation in reservations %}
        <tr class="text-white text-center border-t border-gray-300">
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.vehicle.vehicle_type }}</td>
            <td>{{ reservation.user }}</td>
            <td>{{ reservation.start_date }}</td>
            <td>{{ reservation.end_date }}</td>
            <td>
                <form method="post" action="{% url 'reservation:driver_booking' reservation.id %}">
                    {% csrf_token %}
                    <select name="action" class="bg-gray-700 text-white p-2 rounded-lg mb-2">
                        <option value="available" {% if reservation.status == 'available' %}selected{% endif %}>Available</option>
                        <option value="pending" {% if reservation.status == 'pending' %}selected{% endif %}>Pending</option>
                        <option value="approved" {% if reservation.status == 'approved' %}selected{% endif %}>Approved</option>
                    </select>
                    <button type="submit" class="btn btn-dash btn-success">Save</button>
                </form>
            </td>
            <td>{{ reservation.payment_status }}</td>
            <td>
                <a href="{% url 'reservation:reject_booking' reservation.id %}" class="btn btn-dash btn-error m-2">Reject</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
