{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="grid grid-cols-1 md:grid-cols-4 gap-6 p-4">
  {% for vehicle in vehicles %}
  <div class="border rounded-lg shadow p-4 flex flex-col items-center">
    
    

    <!-- Vehicle Image -->
    {% if vehicle.car_image %}
      <img src="{{ vehicle.car_image.url }}" alt="{{ vehicle.vehicle_type }}" class="w-60 h-40 object-cover rounded mb-4">
    {% else %}
      <img src="{% static 'Sawari_app/images/default_vehicle.jpg' %}" alt="{{ vehicle.vehicle_type }}" class="w-60 h-40 object-cover rounded mb-4">
    {% endif %}

    <div class="flex justify-center items-center mb-4 space-x-4">
        <div>
            <!-- Owner Image -->
                {% if vehicle.person_image %}
                <img src="{{ vehicle.person_image.url }}" alt="{{ vehicle.name }}" class="w-24 h-24 p-2 rounded-full mb-4">
                {% endif %}
        </div>
        <div>
            <h2 class="font-bold text-lg">{{ vehicle.name }}</h2>
            <p>Vehicle: {{ vehicle.vehicle_type }}</p>
            <p>Seats: {{ vehicle.capacity }}</p>
            <p>Price per day: ${{ vehicle.price_per_day }}</p>
        </div>
    </div>
    
  </div>
  {% endfor %}
</div>

{% endblock %}
